body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background 1s, color 1s;
}
.container {
    padding: 50px;
}
button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #4cae4c;
}
